body {
  background: #fdf6e3;
  color: #657b83;
}

h1 {
  text-align: center;
}

a:link { color: #b58900; text-decoration: none; }
a:visited { color: #b58900; }
a:hover { background-color: #eee8d5; }

button {
}

#canvas {
  text-align: center;
}

#turtlecanvas {
  background: #ffffff;
  border: 1px solid #eee8d5;
  border-radius: 1em;
}

#code {
  display: inline-block;
  width: 97%;
  padding: 1em;
}

#language-reference {
  float: left;
  width: 29%;
  border: 1px solid #eee8d5;
  border-radius: 1em;
}

#editor { 
  float: right;
  height: 10em;
  width: 70%;
  border: 1px solid #eee8d5;
  border-radius: 1em;
}

#footer {
  color: #93a1a1;
}

